{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="three columns">
      <div class="car-sidebar">
        <div class="car-sidebar__background">
          <img src="{% static 'images/tiny-car-icon.png' %}"class="car-sidebar__icon" >
        </div>
        <div class="car-sidebar__copy">
          <div class="car-sidebar__info">{{car.year}} {{car.make}} {{car.model}}</div>
          <label class="car-sidebar__label">Color:</label>
          <div class="car-sidebar__info">{{car.color}}</div>
          <label class="car-sidebar__label">VIN:</label>
          <div class="car-sidebar__info">{{car.vin}}</div>
          <label class="car-sidebar__label">Open Tasks:</label>
          <div class="car-sidebar__info car-sidebar__info--task">{{task_list|length}}</div>
        </div>
      </div>
    </div>
    <div class="nine columns">
      <h1 class="page__title">Tasks</h1>
      <div class="task__button">
        <a href="/car/{{car.id}}/new-task/" class="button">Add New Task</a>
      </div>
      <table id="task-table" class="table">
        <thead>
          <tr>
            <th>Task name</th>
            <th>Notes</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_list %}
          <tr id="{{task.id}}" class="task">
            <td>{{task.name}}</td>
            <td>{{task.notes}}</td>
            <td>{{task.due_date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for task in task_list %}
<div id="task-modal-{{task.id}}" class="modal closed">
  <div class="modal__content">
    <div class="modal__close">X</div>
    <h5 class="page__title">{{car.year}} {{car.make}} {{car.model}}</h5>
    <label>Task Name:</label>
    <div class="task-modal__text">{{task.name}}</div>
    <label>Notes:</label>
    <div class="task-modal__text">{{task.notes}}</div>
    <label>Estimated Hours:</label>
    <div class="task-modal__text">{{task.estimated_hours}}</div>
    <label>Due Date:</label>
    <div class="task-modal__text">{{task.due_date}}</div>
    <div class="task-modal__title">Parts</div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Castrol GTX 0W-20 5Qts</td>
          <td>24.95</td>
          <td>1</td>
          <td class="table__controls"><a>Edit</a> / <a>Delete</a></td>
        </tr>
        <tr>
          <td>Bosch oil filter</td>
          <td>7.99</td>
          <td>1</td>
          <td class="table__controls"><a>Edit</a> / <a>Delete</a></td>
        </tr>
        <tr>
          <td>Can of Brakleen</td>
          <td>2.99</td>
          <td>2</td>
          <td class="table__controls"><a>Edit</a> / <a>Delete</a></td>
        </tr>
      </tbody>
    </table>
    <label for="complete">Complete Task</label>
    <input class="form__input" type="date" placeholder="Enter date completed" name="complete" required>
    <button>Complete</button>
  </div>
</div>
{% endfor %}
<div id="modal__overlay" class="modal__overlay closed"></div>

<script>
var tasks = document.getElementsByClassName('task');
var closeButtons = document.getElementsByClassName('modal__close');
var modalOverlay = document.querySelector("#modal__overlay");

for (var i = 0; i < tasks.length; i++) {
  tasks[i].addEventListener("click", function() {
    modal = document.querySelector('#task-modal-' + this.id);
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });

  closeButtons[i].addEventListener("click", function() {
    modal = this.parentNode.parentNode;
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });
}
</script>
{% endblock %}
