{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="three columns">
      <div class="car-sidebar">
        <div class="car-sidebar__background">
          <img src="{% static 'images/tiny-car-icon.png' %}"class="car-sidebar__icon" >
        </div>
        <div class="car-sidebar__copy">
          <div class="car-sidebar__info">{{car.year}} {{car.make}} {{car.model}}</div>
          <label class="car-sidebar__label">Color:</label>
          <div class="car-sidebar__info">{{car.color}}</div>
          <label class="car-sidebar__label">VIN:</label>
          <div class="car-sidebar__info">{{car.vin}}</div>
          <label class="car-sidebar__label">Open Tasks:</label>
          <div class="car-sidebar__info car-sidebar__info--task">{{car.open_task_count}}</div>
          <a href="/edit-car/{{car.id}}/">Edit Car</a>
        </div>
      </div>
    </div>
    <div class="nine columns">
      <h1 class="page__title">Open Tasks</h1>
      <div class="task__button">
        <a href="/car/{{car.id}}/new-task/" class="button">Add New Task</a>
      </div>
      <table id="task-table" class="table">
        <thead>
          <tr>
            <th>Task name</th>
            <th>Notes</th>
            <th>Due Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_list %}
            {% if task.completion_date == None %}
            <tr id="{{task.id}}" class="task">
              <td>{{task.name}}</td>
              <td>{{task.notes}}</td>
              <td>{{task.due_date}}</td>
              <td class="table__controls">
                <a href="/car/{{car.id}}/edit-task/{{task.id}}/">Edit</a> /
                <a>Delete</a>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <h1 class="page__title">Closed Tasks</h1>
      <table id="task-table" class="table">
        <thead>
          <tr>
            <th>Task name</th>
            <th>Notes</th>
            <th>Completion Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_list %}
            {% if task.completion_date != None %}
            <tr id="{{task.id}}" class="task">
              <td>{{task.name}}</td>
              <td>{{task.notes}}</td>
              <td>{{task.completion_date}}</td>
              <td class="table__controls">
                <a href="/car/{{car.id}}/edit-task/{{task.id}}/">Edit</a> /
                <a>Delete</a>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for task in task_list %}
<div id="task-modal-{{task.id}}" class="modal closed">
  <div class="modal__content">
    <div class="modal__close">X</div>
    <h5 class="page__title">{{car.year}} {{car.make}} {{car.model}}</h5>
    <label>Task Name:</label>
    <div class="task-modal__text">{{task.name}}</div>
    <label>Notes:</label>
    <div class="task-modal__text">{{task.notes}}</div>
    <label>Estimated Hours:</label>
    <div class="task-modal__text">{{task.estimated_hours}}</div>
    <label>Due Date:</label>
    <div class="task-modal__text">{{task.due_date}}</div>
    {% if task.completion_date != None %}
    <label>Completion Date:</label>
    <div class="task-modal__text">{{task.completion_date}}</div>
    {% endif %}
    <div class="task-modal__title">Parts</div>
    <a href="/car/{{car.id}}/task/{{task.id}}/new-part" class="button">Add New Part</a>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for part in part_list %}
            {% if task.id == part.task_id %}
            <tr>
              <td>{{part.name}}</td>
              <td>{{part.price}}</td>
              <td>{{part.quantity}}</td>
              <td class="table__controls"><a>Edit</a> / <a>Delete</a></td>
            </tr>
            {% endif %}
          {% endfor %}
      </tbody>
    </table>
    {% if task.completion_date == None %}
    <form method="post" action="/car/{{car.id}}/?task_id={{task.id}}">
      {% csrf_token %}
      <label for="completion_date">Complete Task</label>
      <input class="form__input" type="date" placeholder="Enter date completed" name="completion_date" required>
      <button type="submit">Complete</button>
    </form>
    {% endif %}
  </div>
</div>
{% endfor %}
<div id="modal__overlay" class="modal__overlay closed"></div>

<script>
var tasks = document.getElementsByClassName('task');
var closeButtons = document.getElementsByClassName('modal__close');
var modalOverlay = document.querySelector("#modal__overlay");

for (var i = 0; i < tasks.length; i++) {
  tasks[i].addEventListener("click", function(e) {
    if (e.target.tagName.toLowerCase() === "a") return;
    modal = document.querySelector('#task-modal-' + this.id);
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });

  closeButtons[i].addEventListener("click", function() {
    modal = this.parentNode.parentNode;
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });
}
</script>
{% endblock %}
