{% load static %}

<img class="footer__wave" src="{% static 'images/wave.png' %}">
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <img class="footer__wave" src="{% static 'images/tiny-car-icon.png' %}">
        <ul>
          <li>Developers</li>
          <li><a href="https://www.github.com/kevinbooth/" target="_blank">Kevin Booth</a></li>
          <li><a href="https://github.com/EZombek" target="_blank">Ethan Jarzombek</a></li>
          <li><a href="https://github.com/atoscano199" target="_blank">Anthony Toscano</a></li>
        </ul>
      </div>
    </row>
  </div>
</div>
