{% extends 'frontend/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="page__title">Dashboard</h1>
    <h4 class="page__subtitle">My Cars</h4>
  </div>

  <div class="row">
    <div class="twelve columns car-tile__container">
      {% if car_list %}
        {% for car in car_list %}
        <a href="car/{{ car.id }}" class="car-tile">
          <div class="car-tile__caption">Car Name:</div>
          <div class="car-tile__name">{{car.make}} {{car.model}}</div>
          <div class="car-tile__caption">Open Tasks:</div>
          <div class="car-tile__tasks">0</div>
        </a>
        {% endfor %}
      {% else %}
        <p>You have no cars! Get out there a buy yourself a trusty steed!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
