{% extends 'frontend/base.html' %}

{% block content %}
<div class="container form">
  <div class="row">
    <h1 class="page__title">Login</h1>
  </div>
  <div class="row">
    <div class="five columns">
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
          {% endif %}
      {% endif %}

      <form method="post" action="login">
      {% csrf_token %}
      <label for="id_username">Username:</label>
      <input class="form__input" type="text" placeholder="Enter Username" name="username" autofocus required id="id_username">
      <label for="id_password">Password:</label>
      <input class="form__input" type="password" placeholder="Enter Password" name="password" required id="id_password">

      <input class="form__submit" type="submit" value="login">
      <input type="hidden" name="next" value="{{ next }}">
      </form>

      <p>Don't have a login? Register <a href="/register">here</a></p>


    </div>
    <div class="seven columns">
      <p>Join the free car management platform.</p>
      <p>Manage all your car projects in one central locations.<p>
      <p>Track tasks you need to do on your car.<p>
    </div>
  </div>
</div>
{% endblock %}
