{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<div class="container form">
  <div class="row">
    <div class="three columns">
      <div class="car-sidebar">
        <div class="car-sidebar__background">
          <img src="{% static 'images/tiny-car-icon.png' %}"class="car-sidebar__icon" >
        </div>
        <div class="car-sidebar__copy">
          <div class="car-sidebar__info">{{car.year}} {{car.make}} {{car.model}}</div>
          <label class="car-sidebar__label">Color:</label>
          <div class="car-sidebar__info">{{car.color}}</div>
          <label class="car-sidebar__label">VIN:</label>
          <div class="car-sidebar__info">{{car.vin}}</div>
          <label class="car-sidebar__label">Open Tasks:</label>
          <div class="car-sidebar__info car-sidebar__info--task">N/A</div>
        </div>
      </div>
    </div>
    <div class="five columns">
      <h1 class="page__title">Add a New Task</h1>
      <p>{{message}}</p>
      <form method="post" action="/car/{{car.id}}/new-task/">
        {% csrf_token %}
        <label for="name">Name*</label>
        <input class="form__input" type="text" placeholder="Enter the task name" name="name" required>

        <label for="notes">Notes*</label>
        <textarea class="form__input" rows="5" type="text" placeholder="Enter some notes about the task" name="notes" required></textarea>

        <label for="estimated_hours">Estimated Hours*</label>
        <input class="form__input" type="number" placeholder="Enter the estimated hours to finish" name="estimated_hours" required>

        <label for="due_date">Due Date*</label>
        <input class="form__input" type="date" placeholder="Enter the car's model" name="due_date" required>

        <label for="psw">Completion Date</label>
        <input class="form__input" type="date" placeholder="Enter the car's color" name="completion_date">

        <button class="button" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
