{% extends 'frontend/base.html' %}

{% block content %}
<div class="container form">
  <div class="row">
    <h1 class="page__title">Register</h1>
  </div>
  <div class="row">
    <div class="five columns">
      <p>{{ msg }}</p>
      <form method="post" action="register">
        {% csrf_token %}
        <label for="first_name">First name</label>
        <input class="form__input" type="text" placeholder="Enter First name" name="first_name" required>

        <label for="last_name">Last Name</label>
        <input class="form__input" type="text" placeholder="Enter Last name" name="last_name" required>

        <label for="email">Email</label>
        <input class="form__input" type="text" placeholder="Enter Email" name="email" required>

        <label for="username">Username</label>
        <input class="form__input" type="text" placeholder="Enter Username" name="username" required>

        <label for="password">Password</label>
        <input class="form__input" type="password" placeholder="Enter Password" name="password" required>

        <label for="confirmed_password">Password Again</label>
        <input class="form__input" type="password" placeholder="Enter Password Again" name="confirmed_password" required>

        <button class="form__submit" type="submit">Register</button>
      </form>
    </div>
    <div class="seven columns">
      <p>Join the free car management platform.</p>
      <p>Manage all your car projects in one central locations.<p>
      <p>Track tasks you need to do on your car.<p>
    </div>
  </div>
</div>
{% endblock %}
