/* Global */
label {
  font-size: 10px;
  text-transform: uppercase;
}
th, td {
  padding: 15px;
}
th:first-child,
td:first-child,
th:last-child,
td:last-child {
  padding-left: 15px;
  padding-right: 15px;
}
tr:hover {
  background-color: #fcfcfc;
}

/* Nav styles */
.nav {
  margin-bottom: 10px;
}
.nav .container {
  border-bottom: 2px solid #eee;
}
.nav__list {
  list-style: none;
}
.nav__item {
  float: left;
  padding: 10px;
  text-transform: uppercase;
}
.nav__item--login {
  float: right;
}
.nav__link {
  cursor: pointer;
  text-decoration: none;
}

/* Logo styles */
.logo {
  max-width: 300px;
  padding: 10px 0;
}

/* Page styles */

.page__title {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  text-transform: uppercase;
  -ms-transform: skewY(-8deg);
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
}
.page__title--error {
  font-size: 60px;
}
.page__subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

/* Form styles */
.form {

}
.form__input {
  width: 100%;
  margin-bottom: 20px;
}
.form__submit {
  margin-bottom: 40px;
}

/* Car tile styles */
.car-tile__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}
.car-tile {
  border: 1px solid #eee;
  padding: 20px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  margin-bottom: 4%;
}
@media only screen and (min-width: 700px) {
  .car-tile {
    width: 38.5%;
    margin-right: 4%;
  }
}
@media only screen and (min-width: 1200px) {
  .car-tile {
    width: 27%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .car-tile:nth-child(3n+3) {
    margin-right: 0;
  }
}
.car-tile__caption {
  font-size: 10px;
  text-transform: uppercase;
}
.car-tile__name {
  font-size: 20px;
  margin-bottom: 20px;
}
.car-tile__tasks {
  color: #00ce8c;
  font-size: 25px;
  font-weight: 600;
}

/* Car sidebar styles */
.car-sidebar {
  border: 1px solid #eee;
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  margin-top: 20px;
}

.car-sidebar__background {
  background-color: #cd4848;
  height: 100px;
  text-align: center;
}

.car-sidebar__icon {
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  top: 50px;
  border: 2px solid #eee;
}
.car-sidebar__copy {
  padding: 20px;
  padding-top: 70px;
}
.car-sidebar__info {
  margin-bottom: 20px;
}
.car-sidebar__info--task {
  color: #00ce8c;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
}
.car-sidebar__label {
  margin-bottom: 0;
}

/* Task table styles */
.task-table {
  width: 100%;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.5);
}

/* Error styles */
.error {
  text-align: center;
}
.error__message {
  font-size: 20px;
}
