{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="page__title">Dashboard</h1>
    <h4 class="page__subtitle">My Cars</h4>
  </div>

  <div class="row">
    <div class="twelve columns car-tile__container">
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">1995 Mazda Miata</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">21</div>
      </a>
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">2012 Ford Fiesta</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">14</div>
      </a>
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">2001 Volkswagen GTI</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">31</div>
      </a>
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">1991 Honda CRX</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">6</div>
      </a>
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">1997 Honda Del Sol</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">26</div>
      </a>
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">2018 Tesla Model S</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">8</div>
      </a>
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">1993 Acura NSX</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">4</div>
      </a>
      <a href="car/1" class="car-tile">
        <div class="car-tile__caption">Car Name:</div>
        <div class="car-tile__name">1985 Jeep CJ7</div>
        <div class="car-tile__caption">Open Tasks:</div>
        <div class="car-tile__tasks">19</div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
